/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8.1.2016, 14:47:52
    Author     : T.Czaky
*/

/* 
    index
*/

body{
    color: #333333;      
    margin:0; 
    padding:0;   
    font-weight: 100;

}
#slider{
    padding: 40px;
    background: #292c37;
}

#about{
    height: 200px;
}

.login-form-section{
    max-width: 360px;
    background-color: #FFF;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form-action a{
    margin-top: 5px;
}

.login-form-section .section-title {
    background-color: #FFF;
}

.login-form-section .section-title h3{
    color: #3498DB;
}

.login-form-section .textbox-wrap {
    padding: 15px 0px 20px 0px;
    border-left: 5px solid transparent;
    transition: border-left-color 0.5s ease 0s, box-shadow 0.5s ease 0s, background-color 0.5s ease 0s;
}

.login-form-section .textbox-wrap .input-group {
    background-color: #FFF;
    border: 1px solid #E0E0E0;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.login-form-section .textbox-wrap .input-group .input-group-addon, .login-form-section .textbox-wrap .input-group input, .login-form-section .textbox-wrap .input-group .form-control {
    border: medium none;
    border-radius: 0px;
    box-shadow: none;
}

a.homepage-btn {
    color: #FFF;
    background: #449D44 none repeat scroll 0% 0%;
    padding: 20px 30px;
    border-radius: 0px;
    border: 3px solid #FFF;
    font-size: 20px;
    font-weight: bold;
}

.row{
    margin: 0 auto;

}

#sidebar{
    background-color: #495b6c;
    height: 800px; 
    display: block;
    color: #BBCCDD;
    padding-top: 20px;
    border: 3px solid #3D4F60;
    list-style-type: none;
}

#sidebar a{
    color: #BBCCDD;
}

#sidebar span{
    font-size: medium;
}

.horizontal-menu{
    width: 100%;
    background-color: #EEEEEE;
    height: 50px;
    border: 1px solid #E9E9E9;
    margin: 20px 0 30px 0;
}



#content h1{
    color: #616065;
}

nav navbar-nav i{
    color: red;
}

#slider h1{
    color: white;
}

.user-img i{
    float: left;
}

.user-info{
    float: left;
    padding-left: 10px;
}

.user span, .user-img i{
    padding: 3px;
    background-color: #FB816F;
    color: white;
    border-radius: 3px;
    border: 1px solid #2C546B;    
}

#custom-search-input {
    margin:0;
    margin-top: 100px;
    padding-bottom: 20px;
    border-bottom: 1px solid #415160;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#FB816F;
}

.search-query:focus + button {
    z-index: 3;   
}


@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
        border-bottom: 1px solid #415160; 
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .sidebar-nav .navbar li a:hover, a:active{
        background: #415160;
    }
}

.message-info{
    background-color: #F1F4F7;
    padding: 1px 20px 20px 20px;
    margin: 10px 0 18px 0;
}

.message-info h3{
    color: #FB816F;
    margin-bottom: 20px;
}

.message-info h1{
    color: #E03A3A !important;
}

.fa-trash{
    background: #E03A3A !important;
    padding: 5px;
    color: white;
    border-radius: 2px;
}

.fa-pencil{
    background: #3E8ACC!important;
    padding: 5px;
    color: white;
    border-radius: 2px;
}

label {
    margin-top: 15px;
}

input, select{
    max-width: 260px;
}

textArea{
    max-width: 500px;
}

.circle-active{
    width:50px;
    height:50px;
    border-radius:50%;    
    color:#fff;
    line-height:50px;
    text-align:center;
    background: #FB816F;
    float: left;   
}

.circle-passive{
    width:50px;
    height:50px;
    border-radius:50%;    
    color: #333333;
    line-height:50px;
    text-align:center;
    background: #EEEEEE;
   float: left;
   
}
.circle-direction{
    float: left;
    width:50px;
    height:50px;
    line-height:50px;
    text-align:center;
}

#circle-container{
    width: 100%;
    clear: both;
    margin: 30px 0 40px 0;
}