/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3.1.2016, 18:05:04
    Author     : T.Czaky
*/

body{
    padding: 0;
    margin: 0;
    color: white;
}

footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #222222;
    color: #9DA4AE;
}

.navbar span{
    color: red;
}
